* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center; 
    justify-content: space-around; 
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: #a39f9f ;
    margin: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.login {
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    background-color: white;
    padding: 30px;
    justify-content: center;
    border-radius: 5px;
    width: 600px;
    
}

.botao{
    background-color: rgb(74,211,149);
    border-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    color: white;
       
}

.botao1{
    background-color: rgba(167, 163, 163, 0.5);
    border-color: white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    margin-left: 125px;
    margin-right: 5px;
    cursor: pointer;
    transition: .3s ease all;
    
}

.botao2 {
    background-color: rgb(74,211,149);
    border-color: white;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 16px;
    display: block;
    margin-left: 200px;
    cursor: pointer;
    transition: .3s ease all;
    color: white;
}

.botao3 {
    background-color: rgb(74,211,149);
    border-color: white;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 16px;
    display: block;
    margin-left: 200px;
    margin-block-start: 5px;
    cursor: pointer;
    transition: .3s ease all;
    color: white;
}

.logo{
    justify-content: center;
    padding: 10px 215px;
    margin-right: 25px;
}


.campoEmail {
    border-radius: 5px;
    justify-content: center;
    padding: 20px 125px;
}

.campoEmail > input {
    border-radius: 5px;
    border-color: rgb(74,211,149);
    outline: 0;
    width: 113%;
    height: 30px;
    padding: 5px;
}
    
.senha {
    border-radius: 5px;
    padding: 0px 125px;
   
}

.senha > input {
    border-radius: 5px;
    border-color: rgb(74,211,149);
    outline: 0;
    width: 113%;
    height: 30px;
    padding: 5px;

}

.esqueci {
    color: rgb(74,211,149);
    font: verdana;
    margin: 15px;
    margin-left: 300px;
}

.input-container {
    position: relative;
}